{{ define "main" }}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">wiki</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Lee sobre nuestra historia</h2>
            </div>
        </div>
    </div>
</header>

<!-- Projects-->
<div class="row gx-0 mb-4 mb-lg-5 align-items-center">
    <!-- blog-->
    <section>
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 mb-8 mb-lg-5 align-items-center">
                <h1>Lista de entradas</h1>
                <ul>
                    {{ range .Pages.ByPublishDate.Reverse }}
                    <li>
                        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
{{ end }}
{{end}}