{{ define "main" }}


<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Delta-V </h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Semillero de cohetería y propulsión, UdeA</h2>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">It’s Just Rocket Science</h2>
                <p class="text-white-50">
                    Este semillero tiene como propósito desarrollar el tema de coheteria y propulsión con una fuerte
                    especialización en su diseño y
                    construcción.Participar en competencias internacionales y representar su universidad de una manera
                    optima
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img alt="..." class="img-fluid mb-3 mb-lg-0" src="assets/img/rocket.jpg"/>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Projectos</h4>
                    <p class="text-black-50 mb-0">Aqui hay una sección para los proyectos del grupo ∆V!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-->
<section class="blog-section bg-light" id="blog">
    <div class="container px-4 px-lg-5">
        <!-- Featured blog Row-->
        <div class="row gx-0 mb-8 mb-lg-5 align-items-center">
            <div class="col-xl-7 col-lg-5"><img alt="..." class="img-fluid mb-3 mb-lg-0" src="assets/img/aero.jpg"/>
            </div>
            <div class="col-xl-5 col-lg-7">
                <div class="featured-text text-center text-lg-left">
                    <h4>Blog</h4>
                    <p class="text-black-50 mb-0">Conoce nuestro blog donde educamos a nuestros lectores en el sector
                        aeroespacial</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- wiki-->
<section class="wiki-section bg-light" id="wiki">
    <div class="container px-4 px-lg-5">
        <!-- Featured wiki Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img alt="..." class="img-fluid mb-3 mb-lg-0" src="assets/img/star.jpg"/>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Wiki</h4>
                    <p class="text-black-50 mb-0">Conoce nuestro wiki donde educamos a nuestros lectores en el sector
                        aeroespacial</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>

<!-- revista-->
<section class="revista-section bg-light" id="revista">
    <div class="container px-4 px-lg-5">
        <!-- Featured revista Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img alt="..." class="img-fluid mb-3 mb-lg-0" src="assets/img/nasa.jpg"/>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Revista</h4>
                    <p class="text-black-50 mb-0">Aquí conduce a la revista del grupo delta-v</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>


<!-- Project One Row-->
<section class="Nosotros-section bg-light" id="Nosotros">
    <div class="container px-4 px-lg-5">

        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img alt="..." class="img-fluid" src="assets/img/rocket2.jpg"/></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Misión</h4>
                            <p class="mb-0 text-white-50 px-xl-5">Nuestra misión es formarnos con el autoaprendizaje, la investigación y las experiencias, imponernos retos para innovar en lo aprendido y con ello algún día alcanzar la madurez científica de articular misiones de índole aeroespacial junto a la comunidad académica, empresarial y estatal que desee acompañarnos hacia la misma meta.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img alt="..." class="img-fluid" src="assets/img/rocket.jpg"/></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Visión</h4>
                            <p class="mb-0 text-white-50 px-xl-5">Los semilleristas de Delta-V  se ven a futuro como integrantes de un equipo líder en cohetería para el contexto nacional e internacional y que represente con orgullo a la Universidad y al país, siendo referentes en investigación y aplicación de sistemas de propulsión, y dejando un legado de innovación y continuidad a la carrera en este ámbito.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0"/>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/><br/>
<!-- Signup-->
<!-- Para esta parte se requiere de un backend que de momento no está disponible -->
<!--
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Suscribete para recibir actualizaciones</h2>
                <form class="form-signup d-flex flex-column flex-sm-row">
                    <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputEmail"
                           placeholder="Ingresa tu correo..."
                           type="email"/>
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
-->

{{ end }}