<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-4 ">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Ubicación</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-white-50"><a
                                href="https://www.google.com/maps/place/Universidad+de+Antioquia+-+Seccional+Oriente/@6.1055994,-75.389768,17z/data=!3m1!4b1!4m5!3m4!1s0x8e4698d89e8cd56f:0xff901a2064390162!8m2!3d6.1055994!4d-75.3875793?hl=es">Km
                                6 Vía Rionegro-La Ceja, El Carmen de Viboral, Antioquia</a></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-white-50"><a href="mailto:deltavudea@gmail.com">deltavudea@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-white-50">(+57) 3204332424</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://www.facebook.com/deltavudea/"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="https://www.patreon.com/deltavudea "><i class="fab fa-patreon"></i></a>
            <a class="mx-2" href="https://www.youtube.com/channel/UCKhTMfZin0o4D6tJ91-aBkA"><i
                    class="fab fa-youtube"></i></a>
            <a class="mx-2" href="https://www.instagram.com/deltav_udea/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Ingenieria Aeroespacial - Universidad de Antioquia</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> <!-- Core theme JS-->
<!-- Core theme JS-->
<script src='{{"js/scripts.js" |absURL}}'></script>

<!-- goatCounter -->
<script data-goatcounter="https://deltavudea.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

{{if .Params.flipbook}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<script src='{{"js/turn.js" |absURL}}'></script>

<script type="text/javascript">


    // Create the flipbook

    $('.flipbook').turn({
        // Width

        width: $(".flipbook-viewport").width(),

        // Height

        height:$(".flipbook-viewport").height(),

        // Elevation

        elevation: 50,

        // Enable gradients

        gradients: true,

        // Auto center this flipbook

        autoCenter: true

    });


        // Load the HTML4 version if there's not CSS transform


</script>
{{end}}