{{ define "main" }}
<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Revista</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Lee nuestras últimas publicaciones</h2>
      </div>
    </div>
  </div>
</header>

<!-- Projects-->
<section class="projects-section " id="projects">
  <div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      {{ range first 1 .Pages.ByPublishDate.Reverse }}
      <h2>Última publicación</h2>
      <div class="col-12">
        <div class="flipbook-viewport">
          <div class="container">
            <div class="flipbook">
              {{range .Resources.ByType "image"}}
              <div style="background-image:url({{.RelPermalink}})"></div>

              {{end}}

            </div>
          </div>
        </div>
      </div>
    
      <!-- Fin carousel -->
      <div class="col-12">
        <div class="featured-text text-center ">
          <h4 style="padding: 15px">Título de la revista</h4>
          <p class="mb-0">{{.Description}}</p>
          <a href="">Ossuu</a>
        </div>
      </div>
    </div>
    {{end}}
    <h3>Revistas anteriores</h3>
    {{ range first 4 (after 1 .Pages.ByPublishDate.Reverse )}}
    <div class="container">
      <div class="row">
        <div class="col-6"><img alt="{{.Title}}" class="img-fluid mb-3 mb-lg-0" src="{{.Title}}/{{ .Params.cover}}" />
        </div>
        <div class="col">
          <div class="featured-text text-center text-lg-left">
            <h4>{{ .Title }}</h4>
            <p class="mb-0">{{ .Description }}</p>
            <a href="{{ .RelPermalink }}">Leer</a>
          </div>
        </div>
      </div>
    </div>

    {{end}}

  </div>
  </div>
</section>
{{ end }}