{{ define "main" }}

<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row ">
            <div class="col-12">
                <div class="flipbook-viewport">
                    <div class="container">
                        <div class="flipbook">
                            {{range .Resources.ByType "image"}}
                            <div style="background-image:url({{.RelPermalink}})"></div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fin carousel -->
            <div class="col-12">
                <div class="featured-text text-center ">
                    <h4 style="padding: 15px">{{.Params.Titulo}}</h4>
                    <p class="mb-0">{{.Description}}</p>
                    <a href="{{.Params.ossu}}">Ossuu</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}